#div1
{
	border: 2px solid black;
	background-color: #A9A9A9;
	width: 700px;
	height: 500px;
	text-align: center;
}
h1
{
 text-align: center;
 color: #964B00;
}
#div2
{
background-color: #964B00;
	width: 100px
	height: 100px;
	display: block;
	font-size: 15px;
	margin-left: 50px;
	margin-right: 50px;
}
li
{
	list-style-type: none;
	display: inline;
	margin-left: 30px;
	color: white;

}
#div3
{ 
	border: 2px solid black;
	background-color: #333333;
	width: 500px;
	height: 350px;
	margin-left: 90px;
}
#h2
{
	color: white;
}
#h3
{
	color:white;
}
/*#p1
{
	
	margin-left:-430px;
	margin-top: 50px
	color: white;
	line-height: 1px;
}
#p2
{
	
	margin-left:-450px;
	margin-top: 50px
	color: white;
	line-height: 2px;
}
#p3
{
	
	margin-left:-200px;
	line-height: 1px;
	color: white;
	margin-top: -55px;
}
#p4
{
	margin-left: -200px;
	line-height: 2px;
}
#p5
{
	
	margin-left:30px;
	line-height: 1px;
	margin-top: -53px;
}
#p6
{
	
	margin-left:-5px;
	line-height: 1px;
	margin-top: 5px;
}
#p7
{
	margin-left:320px;
	line-height: 1px;
	margin-top: -50px;
}
#p8
{
    margin-left:250px;
	line-height: 1px;
	margin-top: 5px
}*/
table
{
	color: white;
	border: 0px solid white;
	/*padding: 20px;*/
	width: 100%;
	height: 30%;
	text-align: left;

}
footer
{
	color: red;
}